[alias]
	ci = commit
	co = checkout
	br = branch
	st = status
	last = log -1 HEAD
	lg = log --graph --color
	ft = fetch
	rb = rebase
	cf = config
	df = diff
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	pl = pull
	ps = push
	ss = stash
	us = reset HEAD --
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --all
	ai = add -i
	ap = add -p
	ds = diff --staged
	amend = commit --amend -C HEAD
	cp = cherry-pick
[user]
	name = Labi Kyo
	email = labikyo@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[merge]
	tool = opendiff
[branch]
	autosetuprebase = always
[apply]
	whitespace = nowarn
