[submodule "bundle/vim-css3-syntax"]
  path = bundle/vim-css3-syntax
  url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "bundle/vim-coffee-script"]
  path = bundle/vim-coffee-script
  url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-jade"]
  path = bundle/vim-jade
  url = https://github.com/digitaltoad/vim-jade.git
[submodule "bundle/vim-less"]
  path = bundle/vim-less
  url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-slim"]
  path = bundle/vim-slim
  url = git@github.com:slim-template/vim-slim.git
[submodule "bundle/vim-rails"]
  path = bundle/vim-rails
  url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-ruby"]
  path = bundle/vim-ruby
  url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "bundle/vim-ls"]
	path = bundle/vim-ls
	url = git://github.com/gkz/vim-ls.git
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
